:root {
    --var-body-bg: #FFF;
    --var-body-fc: #1f1f1f;
    --var-card-bg: #ebebeb;
    --var-main-fc: #fb1e53;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Arial', Arial, sans-serif;
}

body {
    color: var(--var-body-fc);
    background-color: var(--var-body-bg);
    transition: all .3s ease;
}

.font-pt {
    font-family: 'PT sans';
}

.font-int {
    font-family: 'Roboto', sans-serif;
}

.smoothie {
    -webkit-font-smoothing: antialiased;
}

nav .phone-number {
    font-size: 22px;
}

.navbar {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.container-fluid,
.tiktok-content,
.video-content,
.audio-content {
    width: 70%;
    margin: 0 auto !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.phone-number {
    color: var(--var-main-fc);
    text-decoration: none;
}

.nav-link {
    position: relative;
    padding: 0 !important;
    font-size: 18px;
}

.nav-link::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--var-main-fc);
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    opacity: 0;
    transform: translateY(-8px);
}

.nav-item:hover .nav-link::after {
    transform: translateY(0);
    opacity: 1;
}

#navbarSupportedContent {
    width: 100%;
}

.container {
    width: 30%;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--var-main-fc);
    display: block;
    transition: all 0.2s;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg) translateX(-1.5px);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: var(--var-main-fc);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #262626;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked~.check {
    background: #fff;
    border: 1px solid #262626;

}

.check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.check:before {
    transform: translateX(-50px);
}

.check:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    background: #262626;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked~.check:after {
    transform: translateX(0px);
}

.theme {
    display: flex;
    width: 65px;
    justify-content: space-between;
    align-items: center;
    margin-left: 9%;
}

.theme-icon {
    margin-left: 7px;
    width: 16px;
    height: 16px;
    background-image: url(/assets/moon-icon.svg);
}

.video-box {
    position: relative;
    max-width: calc(100% - 3em);
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.video-box:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.60));
    opacity: 0.8;
}

.video-box video {
    width: 100%;
    border-radius: 24px;
}

.video-text-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.video-text-content h1 {
    font-size: 54px;
}

.video-text-info {
    margin: 40px 0 54px 0;
    font-size: 22px;
    font-weight: 300;
}
#toDiscuss{
    box-shadow: 0 3px 5px #9b1131;
}
#toDiscuss:active{
    top: 3;
    box-shadow: 0 2px 5px #9b1131;
}
#toDiscuss,
.form-button {
    background-color: var(--var-main-fc);
    width: 275px;
    height: 72px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 0;
}

#toDiscuss:hover {
    background-color: #a71436;
    transition: background-color 0.5s ease 0s;
}

.aboutUs-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.aboutUs-text {
    height: 100%;
    width: 420px;
}

.aboutUs-text-2 {
    display: none;
}

.aboutUs-text p {
    font-size: 22px;
}

.aboutUs-text h1,
.services h1 {
    font-weight: 700;
    margin-bottom: 15px;
}

.aboutUs-img {
    height: 526px;
    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(/assets/aboutUs-img.jpeg);
    background-size: cover;
}

.aboutUs-img img {
    border-radius: 15px;
    height: 100%;
}

.services h1 {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 45px;
}

.services {
    padding-top: 100px;
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services-content {
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

.services-img {
    width: 360px;
    height: 520px;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
    transition: 0.5s;
    position: relative;
}

.services-img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.35s;
    transition-delay: 0.25s;
    z-index: 10;
    background-size: cover;
    border-radius: 15px;
}

.services-img:hover:after {
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    z-index: 11;
    transition-delay: 0s;
}

.img1,
.img1:after {
    background-image: url(/assets/micro-img.jpeg);
}

.img2,
.img2:after {
    background-image: url(/assets/video-img.jpeg);
}

.img3,
.img3:after {
    background-image: url(/assets/tiktok-img.jpeg);
}

.service-img-text-container {
    height: 36%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 25px 0;
    row-gap: 10px;
    position: relative;
    z-index: 12;
}

.service-img-text-container h3 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 0 20px;
}

#moreInfo {
    width: 271px;
    height: 55px;
    background-color: var(--var-main-fc);
    border-radius: 15px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 3px 5px #9b1131;
    position: relative;
    top: 0;
}
#moreInfo:active{
    top: 3;
    box-shadow: 0 2px 5px #9b1131;
}

#moreInfo:hover {
    background-color: #a71436;
    transition: background-color 0.5s ease 0s;
}

.slider {
    padding-top: 100px;
}

.slider h1 {
    font-weight: 700;
    font-size: 48px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide iframe {
    display: block;
    width: 1160px;
    height: 600px;
    object-fit: cover;
    position: relative;
}

.preview {
    width: 1160px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.preview .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: var(--bg-image);
    background-size: cover;
    cursor: pointer;
}

.preview .player-button {
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(/assets/player-button-img.svg);
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    transition: .2s;
    cursor: pointer;
}

.preview .player-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
    color: var(--var-main-fc);
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #E8E8E8;
    border-radius: 100%;
}

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 8%);
}

.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 8%);
}

.swiper-pagination-bullet {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    background: #222;
}

.swiper-pagination {
    padding-top: 50px;
}

.wrapper {
    height: 700px;
}

.textSwiper {
    height: auto;
    width: 760px;
    border-top: 1px solid #eee;
    padding: 14px 0;
    margin-top: 10px;
}

.partners,
.clients,
.leave-your-contacts,
footer,
.slider h1 {
    width: 1160px;
    margin: auto;
}

.partners-projects {
    padding-top: 100px;
    margin-bottom: 51px;
    font-size: 48px;
}

.partners-projects,
.leave-your-contacts h1,
.our-clients {
    font-weight: 800;
}

.partner-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;
}

.partner-item {
    height: 170px;
    width: 560px;
    border: 1px solid #ebebeb;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partner-description {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    line-height: 17px;
    margin: 7px 0;
}

.partner-item img {
    padding: 0 25px;
}

.partner-name {
    font-size: 22px;
    font-weight: 700;
    padding-right: 10px;
}

.partner-finClub {
    font-size: 52px;
    padding: 0 48px 0 40px;
}

.moreInfo {
    color: rgb(251, 30, 83);
}

.our-clients {
    margin-bottom: 50px;
    padding-top: 100px;
    font-size: 52px;
}

.clients-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.client-content {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave-your-contacts {
    display: flex;
    column-gap: 73px;
    padding-top: 75px;
    justify-content: center;
    width: 1360px;
}

.leave-your-contacts h1 {
    padding: 50px 0 31px 0;
    font-size: 48px;
}

.leave-your-contacts h2 a {
    border-bottom: 2px solid var(--var-main-fc);
}

.leave-your-contacts h3 a {
    text-decoration: none;
    color: var(--var-body-fc);
    font-size: 30px;
}

.our-contacts {
    display: flex;
    column-gap: 21px;
}

.contacts-img {
    width: 600px;
    height: 858px;
    background-image: url(/assets/contacts-img.svg);
    background-size: cover;
    margin-top: 50px;
    border-radius: 5%;
}

.form {
    padding-top: 54px;
    max-width: 560px;
}

.form-item {
    margin: 0 0 20px 0;
}

.form-label {
    margin: 0 0 10px 0;
    display: block;
    font-size: 18px;
}
.form-input, .phone-container{
    border-radius: 12px;
    height: 55px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
    border: none;
    outline: none;
    transition: all 0.5s ease 0s;
}

textarea.form-input, textarea.brief-input{
    min-height: 120px;
    max-height: 500px;
    resize: vertical;
    padding: 20px;
    transition: all 0s ease 0s;
}

.form-input:focus{
    box-shadow: 0 0 10px #7a7b7a;
}
.brief-input:focus{
    border-radius: 10px;
    box-shadow: 0 0 10px #7a7b7a;
}
.form-input._error{
    box-shadow: 0 0 10px red;
}

.form{
    position: relative;
}

.form::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff90 url("/assets/loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.form._sending::after{
    opacity: 1;
    visibility: visible;
}

.phone-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    position: relative;
    justify-content: space-between;
}
.brief-phone-container{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    height: 56px;
    margin-bottom: 30px;
}

.phone-container input {
    width: 81%;
    height: 100%;
    padding-left: 10px;
}

.brief-phone-container input{
    width: 81%;
}
.brief-phone-container .country-select__code{
    padding-left: 0;
}
.brief-phone-container .phone-code{
    height: auto;
}

.country-select {
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#country-flag {
    max-width: 20px;
    width: 100%;
    height: 15px;
}

.country-select__code {
    cursor: pointer;
    padding: 8px 6px;
    width: 100%;
    display: flex;
    align-items: center;
}

.country-select__modal {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.country-select__modal.country-select__modal-open {
    display: block;
}

.country-select__modal-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.country-select__modal-item:hover {
    background: #eee;
}

.country-select__modal-item__phone {
    display: flex;
    column-gap: 4px;
}

.country-select__modal-item__phone img {
    height: 15px;
    width: 21px;
    margin-top: 4px;
}

.country {
    display: flex;
    align-items: center;
    width: 45px;
    padding-left: 10px;
}

.arrow {
    width: 10px;
    height: 6px;
    background-image: url(/assets/arrow.svg);
    background-size: cover;
    margin-left: 5px;
}

.phone-code {
    width: 33px;
    height: 23px;
    padding-left: 5px;
}

.form-button {
    width: 100%;
    height: 55px;
    margin-top: 25px;
    box-shadow: 0 3px 5px #9b1131;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form-button:active{
    top: 3;
    box-shadow: 0 1px 5px #9b1131;
}
.form-button:hover{
    background-color: #a71436;
    transition: background-color 0.5s ease 0s;
}

footer {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    width: 80%;
}

.footer-links {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
}

.footer-links a {
    padding: 0 15px;
    text-decoration: none;
    color: var(--var-body-fc);
    font-weight: 400;
    font-size: 14px;
}

.footer-img {
    width: 130px;
    height: 74px;
    background-image: url(/assets/logobulba.svg);
    background-size: cover;
}

.audio-content {
    width: 1175px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    column-gap: 40px;
}

.audio-img {
    background-image: url(/assets/micro.jpeg);
    width: 561px;
    height: 543px;
    background-size: cover;
    border-radius: 30px;
    background-position: top;
}

.audio-content-text {
    height: 100%;
    width: 50%;
    padding-top: 90px;
}

.audio-content-text h1 {
    font-size: 52px;
    font-weight: 600;
}

.audio-content-text p,
.audio-content-text li {
    font-size: 24px;
}

.audio-content-text ul,
.tiktok-content-text ul,
.video-content-list ul {
    list-style-image: url(/assets/logo-favicon.svg);
}

.audio-content-text li {
    padding-left: 10px;
}

.tiktok-content {
    width: 1175px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    column-gap: 40px;
}

.tiktok-img {
    background-image: url(/assets/tiktok.jpeg);
    width: 529px;
    height: 575px;
    background-size: cover;
    border-radius: 30px;
    background-position: top;
}

.tiktok-content-text {
    width: 50%;
    padding-top: 90px;
}

.tiktok-content-text h1 {
    font-size: 52px;
    font-weight: 600;
}

.tiktok-content-text p,
.tiktok-content-text li {
    font-size: 24px;
}

.video-content {
    width: 1175px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    column-gap: 40px;
    flex-direction: column;
}

.video-img {
    background-image: url(/assets/video.jpeg);
    width: 602px;
    height: 409px;
    background-size: cover;
    border-radius: 30px;
    background-position: top;
}

.video-content-text {
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.video-content-header {
    width: 50%;
    padding-top: 100px;
    margin-right: 50px;
}

.video-content-text h1 {
    font-size: 52px;
    font-weight: 600;
}

.video-content-text p,
li {
    font-size: 24px;
}

.video-content-list {
    display: flex;
    column-gap: 20px;
}

.video-content-list li,
.tiktok-content-text li,
.audio-content-text li {
    padding: 0 0 10px 10px;
}

.brief{
    max-width: 760px;
    width: 100%;
    border: 15px solid #1b1b1b;
    padding: 65px 45px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 29px 0px rgb(0 0 0 / 30%);
    margin: 150px auto;
}
.brief-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 0 70px;
}
.brief-container{
    margin: 0;
}
.brief-description, .brief-name{
    text-align: center;
}
.brief-description{
    font-size: 22px; 
}
.brief-name{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
}
.brief-form{
    height: 90%;
    width: 85%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.brief-input{
    width: 100%;
    height: 56px;
    border-style: none;
    outline: none;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 10px;
    transition: all 0.5s ease 0s;
}
.brief-label{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.brief-item-radio{
    margin-bottom: 30px;
}
.radio-label{
    display: flex;
    line-height: 40px;
}
.radio-text{
    padding: 5px 0 0 5px;
}
.option-input:checked::after{
    animation: click-wave 0.5s;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    background: #fb1e53;
}
.option-input.radio{
    border-radius: 50%;
}
.option-input::after{
    border-radius: 50%;
}
@keyframes click-wave{
    0%{
        height: 25px;
        width: 25px;
        position: relative;
        opacity: 0.35;
    }
    100%{
        height: 70px;
        width: 70px;
        margin-left: -25px;
        margin-top: -25px;
        opacity: 0;
    }
}
.option-input{
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 23px;
    width: 23px;
    transition: all 0.15s ease-out 0s;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #fb1e53;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 50%;
}
.option-input:hover{
    background-color: #a71436;
}
.option-input:checked::before{
    height: 20px;
    width: 20px;
    position: absolute;
    content: '✓';
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    padding-left: 3px;
}
.brief-button{
    margin: 30px auto;
    width:  100%;
    height: 56px;
    background-color: #fb1e53;
    color: #fff;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 0;
    box-shadow: 0 3px 5px #9b1131;
}
.brief-button:active{
    top: 3;
    box-shadow: 0 2px 5px #9b1131
}
.brief-button:hover{
    background-color: #a71436;
    transition: background-color 0.5s ease 0s;
}
textarea.brief-input{
    max-height: 350px;
    min-height: 56px;
}
.form-footer{
    padding-top: 20px;
    font-size: 13px;
}
.form-footer, .brief-label, .brief-description{
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1500px) {
    .audio-content {
        width: 80%;
    }

    .container-fluid {
        width: 83%;
    }

    .video-box video {
        height: 100%;
        width: auto;
    }

    .tiktok-content {
        width: 80%;
    }

    .video-content {
        width: 80%;
    }

    .navbar-nav {
        column-gap: 30px;
    }

}

@media screen and (max-width: 1250px) {

    .swiper-slide iframe,
    .preview {
        width: 760px;
        height: 450px;
    }

    .preview {
        top: 12.5%;
    }

    .wrapper {
        height: 600px;
    }

    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 6%);
    }

    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 6%);
    }

    .video-box video {
        height: 100%;
        width: auto;
    }

    .second-list {
        margin-top: -15px;
    }

    .tiktok-content-text h1 {
        margin-bottom: 20px;
    }

    .tiktok-content-text p,
    .video-content-header p,
    .audio-content-text p {
        margin: 30px 0;
    }

    .audio-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 70px;
    }
}

@media screen and (max-width: 955px) {
    .video-box video {
        height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1250px) {
    .audio-content {
        width: 90%;
    }

    .container-fluid {
        width: 100%;
    }

    .theme {
        margin-left: 7%;
    }

    .navbar-nav {
        column-gap: 27px;
    }

    .video-text-content h1 {
        font-size: 48px;
    }

    .aboutUs-container {
        flex-direction: column-reverse;
        width: 85%;
    }

    .aboutUs-text {
        display: none;
    }

    .aboutUs-text-2 {
        display: block;
        color: white;
        z-index: 1;
        padding: 25px;
    }

    .aboutUs-img {
        position: relative;
        max-width: 100%;
        background-image: url(/assets/aboutUs-img.jpeg);
    }

    .aboutUs-img:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.702));
        opacity: 0.8;
        border-radius: 15px;
    }

    .leave-your-contacts {
        width: 600px;
        flex-direction: column;
        align-items: center;
    }

    .contacts-img {
        display: none;
    }

    .clients {
        width: 960px;
    }

    .tiktok-content {
        width: 90%;
    }

    .tiktok-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 70px;
    }

    .video-content {
        width: 90%;
    }

    .video-content {
        padding-top: 30px;
    }

    .video-content-header {
        padding-top: 70px;
        margin: 0;
    }

    .video-content,
    .video-content-list {
        flex-direction: column;
    }

    .video-content-text,
    .video-content {
        align-items: center;
    }

    .video-content-text {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 600px) and (max-width: 1250px) {
    .slider h1 {
        width: 960px;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .services-img {
        width: 619px;
        height: 340px;
    }

    .img1,
    .img1:after {
        background-image: url(/assets/micro.jpeg);
    }

    .img2,
    .img2:after {
        background-image: url(/assets/video.jpeg);
    }

    .img3,
    .img3:after {
        background-image: url(/assets/tiktok.jpeg);
    }

    .service-img-text-container {
        width: 344px;
        height: 185px;
    }

    .service-img-text-container h3 {
        font-size: 30px;
    }

    .services-img:after {
        content: none;
    }

}

@media screen and (min-width: 980px) and (max-width: 1250px) {
    .partner-item {
        width: 460px;
        height: 190px;
    }

    .partners {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .theme {
        margin: 0 20px 0 0;
    }

    .container-fluid {
        padding: 0 20px;
    }

    .slider h1 {
        width: 760px;
    }

    .navbar-toggler {
        order: 1;
    }

    .partner-description {
        font-size: 16px;
        line-height: 19px;
    }

    #navbarSupportedContent {
        padding: 30px 0;
        order: 1;
    }

    .nav-item {
        text-align: center;
        padding-top: 15px;
    }

    .container {
        margin-left: 0;
    }

    .phone-number {
        padding-top: 30px;
    }

    .partners,
    .clients {
        width: 560px;
    }

    .video-content-text h1 {
        font-size: 45px;
    }

    .video-content-header,
    .tiktok-content-text,
    .audio-content-text {
        width: 500px;
    }
    .phone-container input {
        width: 80%;
    }
}

@media screen and (max-width: 761px) {
    .slider h1 {
        width: 600px;
    }

    .swiper-slide iframe,
    .preview {
        width: 600px;
        height: 300px;
    }

    .textSwiper {
        width: 100%;
    }

    .preview {
        top: 16.7%;
    }

    .wrapper {
        height: 450px;
    }

    .preview .player-button {
        width: 40px;
        height: 40px;
        background-image: url(/assets/player-button-min.svg);
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 12px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 25px;
        height: 25px;
        top: var(--swiper-navigation-top-offset, 53%);
    }

    .textSwiper {
        width: 400px;
    }
}

@media screen and (max-width: 600px) {
    #toDiscuss {
        width: 200px;
        height: 60px;
        font-size: 14px;
    }

    .container-fluid,
    .tiktok-content,
    .video-content,
    .audio-content {
        width: 95%;
    }

    .video-text-info {
        font-size: 18px;
        padding: 0 20px;
    }

    .video-text-content h1 {
        font-size: 28px;
    }

    .clients {
        width: 375px;
    }

    .clients-container {
        column-gap: 20px;
    }

    .our-clients {
        padding-left: 35px;
    }

    .partners,
    .partner-item {
        width: 320px;
    }

    .partner-description {
        font-size: 16px;
        padding: 0;
        line-height: 23px;
        margin: 0 0 5px 0;
    }

    .partners-projects {
        font-size: 32px;
    }

    .partner-item {
        height: 288px;
    }

    .partner-item-content {
        padding: 0 15px;
    }

    .moreInfo {
        font-size: 20px;
    }

    .partner-item,
    .partner-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partner-name {
        padding-bottom: 10px;
    }

    .partner-name,
    .partner-description {
        text-align: center;
    }

    .leave-your-contacts {
        width: 320px;
        display: flex;
        align-items: center;
    }

    .contacts-img {
        display: none;
    }

    .contacts-container,
    form {
        width: 100% !important;
    }

    .our-contacts {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .phone-container {
        display: flex;
        justify-content: space-between;
    }

    .phone-container input {
        width: 65%;
    }
    .country-select {
        width: 35%;
    }

    .aboutUs-container {
        flex-direction: column;
        width: 80%;
        height: 700px;
    }

    .aboutUs-text {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        height: 50%;
    }

    .aboutUs-text p {
        font-size: 16px;
    }

    .aboutUs-text h1, .contacts-container h1, .our-clients, .partners-projects, .slider h1, .services h1 {
        font-size: 36px;
    }

    .aboutUs-img .aboutUs-text-2 {
        display: none;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .services-img {
        width: 319px;
        height: 490px;
    }

    .services-img:after {
        content: none;
    }

    .slider h1 {
        width: 350px;
    }

    .swiper-slide iframe,
    .preview {
        width: 350px;
        height: 200px;
    }

    .wrapper {
        height: 350px;
    }

    .preview {
        top: 21.4%;
    }

    .textSwiper {
        width: 300px;
    }

    .tiktok-content-text ul,
    .video-content-list ul,
    .audio-content-text ul {
        list-style-image: url(/assets/small-favicon-img.svg);
    }

    .tiktok-img {
        width: 320px;
        height: 344px;
    }

    .tiktok-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 40px;
    }

    .tiktok-content-text {
        padding-top: 40px;
    }

    .tiktok-content-text,
    .video-content-header,
    .audio-content-text {
        width: 350px;
        padding-left: 30px;
        margin: 0;
    }

    .tiktok-content-text h1 {
        font-size: 34px;
    }

    .tiktok-content-text p,
    .tiktok-content-text li {
        font-size: 18px;
    }

    .video-content-text,
    .audio-content-text {
        padding-top: 40px;
    }

    .video-content-text h1 {
        font-size: 35px;
    }

    .video-content-text p,
    li {
        font-size: 18px;
    }

    .video-img {
        width: 320px;
        height: 350px;
        background-position: center;
    }

    .video-content {
        padding-top: 30px;
    }

    .video-content-header {
        padding-top: 70px;
    }

    .video-content,
    .video-content-list {
        flex-direction: column;
    }

    .video-content-text,
    .video-content {
        align-items: center;
    }

    .video-content-text {
        flex-direction: column-reverse;
    }

    .audio-img {
        width: 320px;
        height: 344px;
    }

    .audio-content-text h1 {
        font-size: 36px;
    }

    .audio-content-text p,
    .audio-content-text li {
        font-size: 18px;
    }
    .brief-description{
        font-size: 18px; 
    }
    .brief-name{
        font-size: 38px;
    }
    .brief-nav{
        padding: 40px 25px 0 25px;
    }
    .brief{
        margin: 100px auto;
    }
    .brief-label{
        font-size: 16px;
    }
    .brief-input::placeholder{
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .video-text-content h1 {
        font-size: 25px;
    }

    .video-text-info {
        font-size: 15px;
    }
}